# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
# Build/dist folders
build/
target/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Java/Maven build artifacts
*.class
*.jar
*.war
*.ear
neo4j-gcn-plugin/target/

# Virtual Env
.venv/
.cursor/

# data
data/cora/cora.tgz
data/Planetoid/
random_notes.txt
GNN-implementations/data
GNN-implementations/profiles
experiment_results/results
experiment_results/sampler_comparison
!**/measurements.csv
*.csv
.env
notes
data/ogbn-products/ogbn_products
data/ogbn-papers100M/ogbn_papers100M
data/ogbn-arxiv/ogbn_arxiv
data/arxiv/


/.claude
/.cursor
/.vscode